* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.landingBg {
  background: url("media files/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.homeBg {
  background: url("media files/bg10.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contactBg {
  background: url("media files/bg7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  object-fit: cover;
}

.contactForm {
  background-color: rgba(0, 0, 0, 0.751);
  color: white;
}

main {
  flex: 1;
}

.navbar-logo {
  max-height: 80px;
  width: auto;
  object-fit: cover;
  display: block;
}

/* Desktop size */
@media (min-width: 992px) {
  .navbar {
    height: 70px;
  }

  .navbar-logo {
    max-height: 60px;
  }
}

/* Medium screens */
@media (max-width: 991px) and (min-width: 577px) {
  .navbar-logo {
    max-height: 60px;
  }
}

/* Mobile screens */
@media (max-width: 576px) {
  .navbar-logo {
    max-height: 60px;
  }
}

.landingLogo {
  background-color: rgba(0, 0, 0, 0.751);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-bottom: 10px;
}

.notepadBtn {
  position: fixed;
  bottom: 60px;
  left: 20px;
  z-index: 1500; /* Above everything but below modal backdrop */
  padding: 10px 18px;
  border-radius: 8px;
  background: #f8f9fa;
  border: 1px solid #ccc;
}

/* ------------------------ Calculator CSS Start ----------------------- */
.calculatorBtn {
  position: fixed;
  bottom: 110px;
  left: 20px;
  z-index: 1500; /* Above everything but below modal backdrop */
  padding: 10px 18px;
  border-radius: 8px;
  background: #f8f9fa;
  border: 1px solid #ccc;
}

.calcBody {
  font-family: Arial, sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
}

.calculator {
  background-color: #3e4444;
  padding: 30px;
  border-radius: 20px;
  max-width: 350px;
  width: 100%;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 28px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 0 15px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  /* justify-content: center; */
}

.calculator button {
  padding: 18px;
  font-size: 20px;
  border-radius: 10px;
  /* border: #198754; */

  cursor: pointer;
  transition: background 0.2s;
}

.calculator button:hover {
  background-color: #198754;
  color: #ffffff;
}

.operator {
  color: #198754;
  border-color: #198754;
  background-color: rgb(255, 255, 255);
}

/* .operator:hover {
  background: #0c4201;
} */

.wide {
  grid-column: span 2;
}

/* ------------------- Calculator CSS End ----------------- */

.bordered-box {
  width: 100%;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.751);
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
