<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NITP Capstone</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body
    class="landingBg container d-flex justify-content-center align-items-center vh-100"
  >
    <div class="landingLogo p-5 text-center rounded-3">
      <div class="container-fluid mx-3">
        <a class="navbar-brand" href="index.html">
          <img src="media files/logo.png" alt="Logo" width="70%" height="70%" />
        </a>

        <p class="col-lg-8 mx-auto fs-5 text-light">
          Healthy options in just one click!
        </p>
        <div class="d-inline-flex gap-2 mb-5">
          <a href="home.html" class="btn btn-outline-success">Generate Now</a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
